@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
}

h1,
h2,
h3 {
  margin-bottom: 0.9375rem;
  font-weight: 700;
}

.grid, nav {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  padding-left: 1.875rem;
}
@media (max-width: 768px) {
  .grid, nav {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
}

.grid .inner, nav .inner {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 768px) {
  .grid .inner, nav .inner {
    width: 100%;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}

nav {
  position: fixed;
}
@media (max-width: 425px) {
  nav {
    position: relative;
  }
}
@media (max-width: 768px) {
  nav {
    position: relative;
  }
}
nav .inner {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 425px) {
  nav .inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
  }
}
@media (max-width: 768px) {
  nav .inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
  }
}
nav .inner .logo {
  cursor: pointer;
  height: 50px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
nav .inner .logo img {
  width: auto;
}
nav .inner .links {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}
nav .inner .links a {
  text-decoration: none;
  color: #999;
  text-transform: capitalize;
}
nav .inner .links a:hover {
  text-decoration: underline;
}
@media (max-width: 425px) {
  nav .inner .links {
    display: none;
  }
}
@media (max-width: 768px) {
  nav .inner .links {
    display: none;
  }
}
nav .inner p {
  margin: 0;
  color: #999;
  font-size: 10px;
}
nav .inner p a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}
nav .inner p a:hover {
  text-decoration: underline;
}
@media (max-width: 425px) {
  nav .inner p {
    display: none;
  }
}
@media (max-width: 768px) {
  nav .inner p {
    display: none;
  }
}
nav .menu {
  display: none;
  border: 1px solid #999;
  padding: 10px;
  cursor: pointer;
}
nav .menu i {
  color: #999;
  font-weight: 700;
  font-size: 25px;
}
@media (max-width: 425px) {
  nav .menu {
    display: block;
  }
}
@media (max-width: 768px) {
  nav .menu {
    display: block;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 283px;
  padding-top: 0;
  padding-bottom: 0;
  cursor: pointer;
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 425px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
    margin: 0;
  }
}
.grid .inner {
  display: contents;
  width: 100%;
}
.grid .inner .img-content {
  position: relative;
  overflow: hidden;
}
.grid .inner .img-content .img {
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
}
.grid .inner .img-content .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid .inner .img-content .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
  color: #999;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  width: 90%;
}
.grid .inner .img-content .content p {
  padding: 10px 0;
  margin-bottom: 0;
}
.grid .inner .img-content:hover .img {
  opacity: 0;
}
.grid .inner .img-content:hover .content {
  opacity: 1;
}/*# sourceMappingURL=main.css.map */