* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol {
  margin: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.inner {
  padding: 10px 20px;
}

.section-inner {
  padding: 5% 15%;
}

.bg-color-dark {
  background-color: #302d2d;
}

nav {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: none;
  color: white;
}

.logo a {
  text-decoration: none;
  color: #9cb4b8;
}

.logo a:hover {
  color: white;
}

.links a {
  text-decoration: none;
  color: #7d9fa5;
  font-weight: bold;
}

.links a:hover {
  color: white;
}

.links a:not(:last-child) {
  margin-right: 20px;
}

.banner {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/image-01.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.banner .title {
  border-bottom: 3px solid white;
  border-top: 3px solid white;
  padding: 15px 10px;
}

.banner .title h2 {
  color: white;
}

.banner .description {
  width: 40%;
}

.banner .description p {
  color: white;
  text-align: center;
  line-height: 25px;
}

.banner a {
  text-decoration: none;
  color: white;
  padding: 20px 30px;
  border: 2px solid white;
  border-radius: 10px;
}

.section-one .content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  text-align: center;
}

.section-one .image img {
  height: 250px;
  width: 500px;
  border-radius: 50%;
}

.section-two {
  color: white;
}

.section-two .title {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.title p {
  font-size: 13px;
  color: #7f7e7e;
}

hr {
  width: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 30px;
}

.box i {
  font-size: 30px;
}

.box p {
  color: #7f7e7e;
}

.section-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}

input {
  width: 40%;
  padding: 8px 12px;
  border: 1px solid #a8a8a8;
  border-radius: 5px;
}

input:focus {
  border-color: black;
  outline: none;
}

button {
  color: white;
  background-color: #007bff;
  padding: 8px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.ftr {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: white;
}

.ftr .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.socials {
  display: flex;
  gap: 20px;
}

.socials i {
  font-size: 17px;
  cursor: pointer;
}

@media (max-width: 428px) {
  .links {
    display: none;
  }

  .menu {
    display: block;
    cursor: pointer;
  }

  .banner .description {
    width: 80%;
  }

  .banner a {
    width: 80%;
    text-align: center;
  }

  .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-one .image img {
    height: 200px;
    width: 200px;
  }

  .box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  input {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .links {
    display: none;
  }

  .menu {
    display: block;
    cursor: pointer;
    font-size: 18px;
  }

  .banner .description {
    width: 70%;
  }

  .banner a {
    width: 50%;
    text-align: center;
  }

  .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-one .image img {
    height: 200px;
    width: 200px;
  }

  .box-container {
    grid-template-columns: repeat(2, 1fr);
  }

  input {
    width: 70%;
  }
}
